@import "../../../scss//default.scss";

.toast-message {
    background: $st_white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    min-height: 727px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;

    @media screen and (max-width: 1023px) {
        min-height:100%;
    }
        .toast-box {
            img {
                width: auto;
                margin: auto;
            }

            h2 {
                font-size: $st_largeFontSize;
                color: $st_black;
                line-height: getFontLineHeight( $st_largeFontSize);
                margin-top: 40px;
                margin-bottom: 20px;
                font-weight: $fontWeightLight;

                span {
                    text-transform: capitalize;
                }
            }

            p {
                font-size: $st_mediumFontSize;
                color: $st_black;
                line-height: getFontLineHeight($st_mediumLargeFontSize);
                font-weight: $fontWeightLight;
                @media screen and (max-width: 1023px) {
                    padding:0 20px;
                }
            }
        }

        .close-model {
            width: 57px;
            height: 57px;
            position: absolute;
            right: -15px;
            top: -15px;
            background: $st_white;
            cursor: pointer;
            background: $st-Soapstone;
            box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15);
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:focus {
                outline: 0;
            }
        }
    }