@import "../../../scss/default.scss";
.adminContainer.admin-login {
    .adminContent {
        padding: 0;
        display: flex;
        align-items: center;
        height: calc(100% - 56px);
        justify-content: center;
    }
}
.login-box {
    width: 400px;
    display: flex;
    border: 1px solid #ddd;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    background: #fff;
    margin: 0 auto;
}
.btn-info {
    width: 200px;
    height: 40px;
    border: 0;
    color: #fff;
    font-size: 16px;
    background-color: #af2f2f;
    cursor:pointer;
}
